<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:bu="http://typo3.org/ns/TYPO3/CMS/Beuser/ViewHelpers">

<f:section name="list_row">
    <f:variable name="group">{backendUserGroup.group}</f:variable>
    <tr>
        <td class="col-icon">
            <bu:spriteIconForRecord table="be_groups" object="{group}" />
        </td>
        <td class="title">
            <b>{group.title}</b><br />
            {backendUser.realName}
        </td>
        <f:if condition="{showMembersColumn} == 1">
            <td>
                <div class="hidden">
                    <!-- Generate translated labels -->
                    <div id="show" data-tr-label="{f:translate(key:'LLL:EXT:qc_info_rights/Resources/Private/Language/Module/locallang.xlf:show')}"></div>
                    <div id="hide" data-tr-label="{f:translate(key:'LLL:EXT:qc_info_rights/Resources/Private/Language/Module/locallang.xlf:hide')}"></div>
                </div>
                <f:if condition="{backendUserGroup.numberOfUsers} != 0">
                    <f:then>
                        <br>
                        <a href="#" class="showUsersLink" onclick="showMembers(event, '{group.uid}')" >
                            {backendUserGroup.numberOfUsers} <f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang.xlf:users" />
                            <span id="showMembersControl{group.uid}"><f:translate key="LLL:EXT:qc_info_rights/Resources/Private/Language/Module/locallang.xlf:show" /></span>
                            <span id="hideMembersControl{group.uid}" class="hidden"><f:translate key="LLL:EXT:qc_info_rights/Resources/Private/Language/Module/locallang.xlf:hide" /></span>
                        </a>

                        <br>
                        <br>
                    </f:then>
                    <f:else>
                        <span><f:translate key="LLL:EXT:qc_info_rights/Resources/Private/Language/Module/locallang.xlf:noMembers" /></span>
                    </f:else>
                </f:if>
                <div class="hidden" id="group{group.uid}">
                    <!-- Generate translated labels -->
                    <div id="realNameNotProvided" data-tr-label="{f:translate(key:'LLL:EXT:qc_info_rights/Resources/Private/Language/Module/locallang.xlf:realName_notProvided')}"></div>
                    <div id="emailNotProvided" data-tr-label="{f:translate(key:'LLL:EXT:qc_info_rights/Resources/Private/Language/Module/locallang.xlf:email_notProvided')}"></div>
                </div>
            </td>
        </f:if>
        <td class="nowrap-disabled">
            <f:for each="{group.subgroups}" as="subgroup" iteration="subGroupIterator">
                <be:link.editRecord table="be_groups" uid="{subgroup.uid}" title="edit">
                    {subgroup.title}
                </be:link.editRecord>
                <f:if condition="!{subGroupIterator.isLast}">, </f:if>
            </f:for>
        </td>

    </tr>
</f:section>

</html>
