<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="tx-{extensionName}">
    <f:variable name="controllerSettings" value="{settings.{tsControllerKey}}" />
    <div class="qc-info-right-check-options">
        <input type="hidden" name="id" value="{pageId}" />
        <h4><f:render section="OptionsTitle" /></h4>
        <div>
            <table class="table table-striped table-hover" id="qc-info-right-statistics-table">
                <tbody>
                <f:for each="{options.optionsByType}" as="optionByType">
                    <tr>
                        <td>{optionByType.checkbox -> f:format.raw()}{optionByType.label -> f:format.raw()}</td>
                        <td class="number"><span class="badge">{optionByType.count}</span></td>
                    </tr>
                </f:for>
                </tbody>
            </table>
            <input type="hidden" name="{prefix}_values" value="1">
        </div>
    </div>
    <f:render section="content" />
</div>
</html>


