<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="row mb-10">
    <div class="col-2 form-group mb-10">
        <label for="user_SET_username">{f:translate(key:
            'LLL:EXT:beuser/Resources/Private/Language/locallang.xlf:userName')}</label>
        <f:form.textfield class="form-control input-sm" id="user_SET_username" name="user_SET[username]"
                          value="{f:if(condition: args.username, then: args.username, else: '')}"/>
        <f:form.hidden  name="user_SET[filterSearch]" value="1" />
    </div>
    <div class="col-2 form-group mb-10">
        <label for="user_SET_mail">{f:translate(key:
            'LLL:EXT:beuser/Resources/Private/Language/locallang.xlf:email')}</label>
        <f:form.textfield class="form-control input-sm" type="text" id="user_SET_mail" name="user_SET[mail]"
                          value="{f:if(condition: args.mail, then: args.mail, else: '')}"/>
    </div>

    <div class="col-2 form-group mb-10">
        <div id="{hideInactifId}">
            <label for="user_SET_hideInactif">
                {f:translate(key: 'LLL:EXT:qc_info_rights/Resources/Private/Language/Module/locallang.xlf:beUserListsFilter.hideInactif')}
            </label>
            <f:form.checkbox name="user_SET[hideInactif]" id="user_SET_hideInactif" value="1" class="form-check-input"
                             checked="{f:if(condition: args.hideInactif, then: 'true', else: 'false')}"/>
        </div>
    </div>
    <div class="col-2 form-group " id="{filterBlockId}" >
        <div id="{filterButtonId}">
            <input type="submit" class="btn btn-default t3js-update-button" name="refreshLinkList" id="refreshLinkList"
                   value="{f:translate(key: 'LLL:EXT:beuser/Resources/Private/Language/locallang.xlf:filter')}"
                   data-notification-message="{f:translate(key: 'LLL:EXT:qc_info_rights/Resources/Private/Language/Module/locallang.xlf:label_refresh-filter-user')}"/>
        </div>
    </div>

</div>
</html>

