<div class="table-fit">
    <table id="typo3-backend-user-list" class="table table-striped table-hover">
        <thead>
        <tr>
            <th></th>
            <th class="col-title">
                <f:format.raw>{tabHeader.userName.header}</f:format.raw>
                <f:if condition="{tabHeader.userName.icon}">
                    <core:icon identifier="{tabHeader.userName.icon}"/>
                </f:if>
            </th>
            <th>
                <f:format.raw>{tabHeader.email.header}</f:format.raw>
                <f:if condition="{tabHeader.email.icon}">
                    <core:icon identifier="{tabHeader.email.icon}"/>
                </f:if>
            </th>
            <th>
                <f:format.raw>{tabHeader.lastLogin.header}</f:format.raw>
                <f:if condition="{tabHeader.lastLogin.icon}">
                    <core:icon identifier="{tabHeader.lastLogin.icon}"/>
                </f:if>
            </th>
            <th>
                <f:format.raw>{tabHeader.disable_compare.header}</f:format.raw>
                <f:if condition="{tabHeader.disable_compare.icon}">
                    <core:icon identifier="{tabHeader.disable_compare.icon}"/>
                </f:if>
            </th>
            <th><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.crdate" /></th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{backendUsers}" as="backendUser">
            <f:render partial="BeUserList/IndexListRow" section="list_row" arguments="{demand: demand, backendUser: backendUser, onlineBackendUsers: onlineBackendUsers, dateFormat: dateFormat, timeFormat: timeFormat, compareUserUidList: compareUserUidList, currentUserUid: currentUserUid}" />
        </f:for>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5">
                <f:count subject="{backendUsers}" /> <f:translate key="LLL:EXT:qc_info_rights/Resources/Private/Language/Module/locallang.xlf:users" />
            </td>
        </tr>
        </tfoot>
    </table>
</div>
