{namespace be=TYPO3\CMS\Backend\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:layout name="TabContent" />
<f:section name="OptionsTitle">
  <h2 class="mb-10"><f:translate key="LLL:EXT:qc_info_rights/Resources/Private/Language/Module/locallang.xlf:beUserGroupsLists.header" /></h2>
</f:section>
<f:section name="Main">
    <label for="selectColumn"><f:translate key="LLL:EXT:qc_info_rights/Resources/Private/Language/Module/locallang.xlf:selectMembersInfo" /></label>
    <select id="selectColumn" onchange="submitSelectedColumn()" class="form-control">
        <option value="username"><f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang.xlf:userName" /></option>
        <option value="realName"><f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang.xlf:realName" /></option>
        <option value="email"><f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang.xlf:email" /></option>
    </select>
    <f:if condition="{showExportGroups}">
        <div class="typo3-csvLink">
            <a class="btn btn-default" href="{f:be.uri(route: 'export_be_user_group_list')}">
                <f:image src="EXT:qc_info_rights/Resources/Public/Icons/csv.svg" width="30" height="30"  title="{f:translate(key: 'LLL:EXT:qc_info_rights/Resources/Private/Language/locallang.xlf:export_csv')}" alt="{f:translate(key: 'LLL:EXT:qc_info_rights/Resources/Private/Language/locallang.xlf:export_csv')}"/>
                <f:translate key="LLL:EXT:qc_info_rights/Resources/Private/Language/locallang.xlf:export_csv"/>
            </a>
        </div>
    </f:if>

    <f:render partial="BeUserGroupList/PaginatedListWidgetBody" arguments="{_all}" />
    <f:render partial="Pagination" arguments="{pagination: pagination, currentPage: currentPage, currentTab : 'BeGroupUserList'}"/>


</f:section>

