{namespace be=TYPO3\CMS\Backend\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:layout name="TabContent" />
<f:section name="OptionsTitle">
  <h2 class="mb-10"><f:translate key="LLL:EXT:qc_info_rights/Resources/Private/Language/Module/locallang.xlf:beUserGroupsLists.header" /></h2>
</f:section>
<f:section name="Main">
    <div class="row">
        <div class="col-2 form-group">
                <label for="selectColumn"><f:translate key="LLL:EXT:qc_info_rights/Resources/Private/Language/Module/locallang.xlf:selectMembersInfo" /></label>
                <select id="selectColumn" onchange="submitSelectedColumn()" class="form-select form-control">
                    <option value="username"><f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang.xlf:userName" /></option>
                    <option value="realName"><f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang.xlf:realName" /></option>
                    <option value="email"><f:translate key="LLL:EXT:beuser/Resources/Private/Language/locallang.xlf:email" /></option>
                </select>
        </div>
        <f:if condition="{showExportGroups}">
            <div class="col-10" id="export-block">
                    <br>
                    <div class="typo3-csvLink">
                        <a class="btn btn-default" href="{f:be.uri(route: 'export_be_user_group_list')}">
                            {icon -> f:format.raw()}
                            <f:translate key="LLL:EXT:qc_info_rights/Resources/Private/Language/locallang.xlf:export_csv"/>
                        </a>
                    </div>
            </div>
        </f:if>

    </div>
    <br>

    <f:render partial="BeUserGroupList/PaginatedListWidgetBody" arguments="{_all}" />
    <f:render partial="Pagination" arguments="{pagination: pagination, currentPage: currentPage, currentTab : 'BeGroupUserList'}"/>

</f:section>

